<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")   
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/Flot")
</head>
<body>
    <nav class="navbar navbar-expand-sm  bg-light justify-content-center">
        @Html.ActionLink("Kuluseuranta", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <ul class="navbar-nav">
            <li class="nav-item nav-link">
                @Html.ActionLink("Kululista", "Index", "kuluts")
            </li>
            <li class="nav-item nav-link">
                @Html.ActionLink("Raportit", "Index", "Raportit")
            </li>
        </ul>

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kuluseuranta</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $.datepicker.setDefaults($.extend({ showMonthAfterYear: false }, $.datepicker.regional['fi']));
            $(".datePicker").datepicker($.datepicker.regional['fi']);
            //$('.datePicker').datepicker('option', 'changeMonth', true);
            //$('.datePicker').datepicker('option', 'changeYear', true);
        });
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd.mm.yy",
                changeMonth: true,
                firstDay: 1,
                changeYear: true,
                showOtherMonths: true,
                yearRange: "-10:+0"
            });
        })
    </script>
</body>
</html>
